 .nav-top{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     text-decoration: none;
     background-color: tomato;
     
 }
 .nav-top a{
     
     text-decoration: none;
     margin: 10px;
     color: whitesmoke;
     font-weight: 200;  
    
 }

 .container{
     display: flex;  
     flex-direction: column;   
 }

 .container .nav-right li{
     
     flex-wrap: wrap;
     list-style-type: none;
     padding: 10px;
 }
